## Segmenting and Clustering Neighborhoods in Toronto

## Part I

### 1. Scrape the data table from Wikipedia page, transform the data into pandas dataframe

#### 1) Import libraries

In [1]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
import requests

#### 2) Scrape table from wiki and transform into pandas df

In [2]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
df = pd.read_html(source, header = 0, attrs = {"class": "wikitable sortable"})[0]
df = df.rename(columns = {"Postal Code": "PostalCode", "Borough":"Borough", "Neighbourhood":"Neighborhood"})
df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### 3) Drop rows with Borough == Not assigned

In [3]:
df = df[df.Borough != "Not assigned"]
df

,PostalCode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### 4) Combine rows with the same PostalCode

In [5]:
df = df.groupby("PostalCode", sort = False).agg(",".join)
df

,Borough,Neighborhood
PostalCode,,
M3A,North York,Parkwoods
M4A,North York,Victoria Village
M5A,Downtown Toronto,"Regent Park, Harbourfront"
M6A,North York,"Lawrence Manor, Lawrence Heights"
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...
M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
M4Y,Downtown Toronto,Church and Wellesley
M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### 5) If Neighhorhood == Not assigned, Neighhorhood == Borough

In [11]:
df["Neighborhood"] = np.where(df["Neighborhood"] == "Not Assigned", df["Borough"], df["Neighborhood"])
df.reset_index(inplace = True)

In [13]:
df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [14]:
df.shape

(103, 3)

## Part II

### 2. Add Geographical Coordinates to df

#### 1) Install and Import Libraries

In [27]:
#import sys
#!{sys.executable} -m pip install geocoder

In [28]:
import geocoder

#### 2) Initialize Variable

In [29]:
lat_lng_coords = None

#### 3) Get coordinates

In [34]:
# Took forever for the code to execute
# Try to read from data table
'''
while(lat_lng_coords is None):
    g = geocoder.google("{}, Toronto, Ontario".format("Postal Code"))
    lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]
'''

'\nwhile(lat_lng_coords is None):\n    g = geocoder.google("{}, Toronto, Ontario".format("Postal Code"))\n    lat_lng_coords = g.latlng\n\nlatitude = lat_lng_coords[0]\nlongitude = lat_lng_coords[1]\n'

#### 4) Read Postal Code from Data Table

In [35]:
lat_lng_coords = pd.read_csv("https://cocl.us/Geospatial_data")
lat_lng_coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [36]:
lat_lng_coords.shape

(103, 3)

In [37]:
lat_lng_coords.rename(columns = {"Postal Code":"PostalCode"}, inplace = True)
lat_lng_coords

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

#### 5) Sort Both Tables by Postal Code

In [38]:
lat_lng_coords.sort_values(by = ["PostalCode"], inplace = True)
lat_lng_coords

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [39]:
df.sort_values(by = ["PostalCode"], inplace = True)
df

   PostalCode      Borough                                       Neighborhood
6         M1B  Scarborough                                     Malvern, Rouge
12        M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
18        M1E  Scarborough                  Guildwood, Morningside, West Hill
22        M1G  Scarborough                                             Woburn
26        M1H  Scarborough                                          Cedarbrae
..        ...          ...                                                ...
64        M9N         York                                             Weston
70        M9P    Etobicoke                                          Westmount
77        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
89        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
94        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

#### 6) Merge

In [40]:
df_merge = df.merge(lat_lng_coords, left_on = "PostalCode", right_on = "PostalCode")
df_merge

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [41]:
df_merge.shape

(103, 5)